.carouselContainer {
    position: absolute;
    width: 600px;
    height: 400px;
}
.imageCarouselContainer {
    width: 100%;
    height: 100%;
}
.cuadro{
    border: 1px solid black;
    background-color: black;
    
}
.Navbar {
    display: flex;
    justify-content: space-around;
    
}
.cuadro{
    display: flex;
    justify-content: space-around;
}
.links{
    display: flex;
    gap: 3rem;
}
.googleMaps , .cuadroQr{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
} 
